<div>
  <h2>Friends</h2>
  <div>
    <button (click)="goToDash()">Dashboard</button>
    <button (click)="goToArchive()">Archive</button>
    <button (click)="goToMenu()">Menu</button>
    <button (click)="logout()">Log Out</button>
  </div>
  <div>
    <form>
      <table>
        <tr>
          <td><label>Search Username: </label></td><td><input [(ngModel)]="searchedUsername" name="searchedUsername" placeholder="username" type="text"></td>
        </tr>
        <tr>
          <td><button (click)="addFriend()">GO</button></td>
        </tr>
      </table>
    </form>
  </div>
  <h3>Your Foodie Buddies</h3>
  <p>{{errorMsg}}</p>
  <ul>
    <li *ngFor="let friend of friends">
      <span class="friend">{{friend.username}}</span>
    </li>
  </ul>
</div>
