<div>
    <div id="nav" style="text-align: center; position: center; padding: 10px">
      <button mat-raised-button="" color="warn" [matMenuTriggerFor]="menu" >
        MAIN MENU
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="goToDash()">Dashboard</button>
        <button mat-menu-item (click)="goToArchive()">Archives</button>
        <button mat-menu-item (click)="goToMenu()">Menu</button>
        <button mat-menu-item routerLink="/settings">Settings</button>
        <button mat-menu-item (click)="logout()">Sign Out</button>
      </mat-menu>
    </div>
  <h2>Friends</h2>
  <div>
    <p style="color: red">{{friendErrMsg}}</p>
    <p style="color: green">{{successMsg}}</p>
    <form>
      <table>
        <tr>
          <td>
            <mat-form-field>
              <input matInput="" [(ngModel)]="searchedUsername" name="searchedUsername" placeholder="Searh Username" type="text">
            </mat-form-field>
          </td>
          <td><button mat-raised-button="" color="warn" (click)="addFriend()">Add Friend</button></td>
        </tr>
      </table>
    </form>
  </div>
  <h3>Your Foodie Buddies</h3>
  <p style="color: red">{{errorMsg}}</p>
  <div *ngIf="friends !== undefined">
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let friend of friends">
        <span class="friend">{{friend.username}}</span>
      </mat-list-item>
    </mat-list>
  </div>
  <div *ngIf="friends == undefined && errorMsg == '' && friendErrMsg == ''">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
