<div *ngIf="dashShowing">
<div>
  <button (click)="onLogin()">Login</button>
  <button (click)="onSignup()">Signup</button>
</div>

<div *ngIf="login && dashShowing" id="signin" style="padding-left: 15%">
  <h3>Sign In</h3>
  <table>
    <tr>
      <td>Username: </td><td><input type="text"></td>
    </tr>
    <tr>
      <td>Password: </td><td><input type="password"></td>
    </tr>
    <tr>
      <a routerLink="/dashboard" (click)="justDash()">GO</a>
    </tr>

  </table>
</div>

<div *ngIf="signup && dashShowing" id="signup" style="padding-left: 15%">
  <h3>Sign Up</h3>
  <table>
    <tr>
      <td>Name:</td>
      <td><input type="text" placeholder="name"></td>
    </tr>
      <tr>
        <td>Password: </td>
        <td><input type="password" placeholder="password"></td>
      </tr>
      <tr>
        <td>Email: </td>
        <td><input type="email" placeholder="email"></td>
      </tr>
      <tr>
        <td><a routerLink="/dashboard" (click)="justDash()">GO</a></td>
      </tr>
  </table>
</div>
</div>

<div>
  <router-outlet></router-outlet>
</div>
