<!-- TODO: check forms, add dashboard route, hide signin/register when dash shown. -->
  <div *ngIf="!register" id="signin" style="padding-left: 15%">
    <h3>Sign In</h3>
    <form>
      <table>
        <tr>
          <td><label>Username: </label></td><td><input [(ngModel)]="user.username" name="inName" placeholder="name" type="text"></td>
        </tr>
        <tr>
          <td><label>Password: </label></td><td><input [(ngModel)]="user.password" name="inPassword" type="password"></td>
        </tr>
        <tr>
          <td><button (click)="registerUser()">GO</button></td>
        </tr>
        <tr>
          <p (click)="toggleRegister()">Not a user? Click to register!</p>
        </tr>
      </table>
    </form>
  </div>

  <div *ngIf="register" id="signup" style="padding-left: 15%">
    <h3>Sign Up</h3>
    <form>
    <table>
      <tr>
        <td><label>Username: </label></td><td><input [(ngModel)]="user.username" name="inName" placeholder="name" type="text"></td>
      </tr>
      <tr>
        <td><label>Password: </label></td><td><input [(ngModel)]="user.password" name="inPassword" type="password"></td>
      </tr>
      <tr>
        <td><button (click)="registerUser()">GO</button></td>
      </tr>
      <tr>
        <p (click)="toggleRegister()">Already a user? Click to sign in!</p>
      </tr>
    </table>
    </form>
  </div>

<!--<div>-->
  <!--<router-outlet></router-outlet>-->
<!--</div>-->
