<!-- TODO: check forms, add dashboard route, hide signin/register when dash shown. -->
<!-- If user is not registered, show signin div -->
  <div *ngIf="!register" id="signin" style="padding-left: 15%">
    <h2>Sign In</h2>
    <div style="padding-left: 3%">
    <p style="color: red">{{errorMsg}}</p>
    <form>
      <table>
        <tr>
          <td>
            <mat-form-field><input matInput="" [(ngModel)]="user.username" name="inName" placeholder="Username" type="text"></mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field><input matInput="" [(ngModel)]="user.password" name="inPassword" placeholder="Password" type="password"></mat-form-field>
          </td>
        </tr>
        <tr>
          <td><button (click)="loginUser()" mat-raised-button>GO</button></td>
        </tr>
      </table>
    </form>
    </div>
    <p (click)="toggleRegister()">Not a user? Click to register!</p>
  </div>

<!-- If user is registered, show singup div -->
  <div *ngIf="register" id="signup" style="padding-left: 15%">
    <h2>Sign Up</h2>
    <div style="padding-left: 3%">
    <p style="color: red;">{{errorMsg}}</p>
    <form>
    <table>
      <tr>
        <td><mat-form-field><input matInput="" [(ngModel)]="user.username" name="inName" placeholder="Username" type="text"></mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field><input matInput=""[(ngModel)]="user.email" name="inEmail" type="text" placeholder="Email"></mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field><input matInput=""[(ngModel)]="user.password" name="inPassword" type="password" placeholder="Password"></mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field><input matInput=""[(ngModel)]="user.country" name="inCountry" type="text" placeholder="Country"></mat-form-field></td>
      </tr>
      <tr>
        <td><button mat-raised-button="" (click)="registerUser()">GO</button></td>
      </tr>
    </table>
    </form>
    </div>
    <p (click)="toggleRegister()">Already a user? Click to sign in!</p>
  </div>
