<div id="nav">
  <button mat-raised-button="" color="warn" [matMenuTriggerFor]="menu" >
    MAIN MENU
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="goToDash()">Dashboard</button>
    <button mat-menu-item (click)="goToArchive()">Archives</button>
    <button mat-menu-item (click)="goToFriends()">Friends</button>
    <button mat-menu-item routerLink="/settings">Settings</button>
    <button mat-menu-item (click)="logout()">Sign Out</button>
  </mat-menu>
</div>
<h2>Menu</h2>
<h2>Be Our Guest</h2>
<p id="errorp">{{errorMsg}}</p>
<div *ngIf="dishes !== undefined">
  <mat-grid-list cols="6" rowHeight="1:1" gutterSize="3">
    <mat-grid-tile *ngFor="let dish of dishes">
      <div class="image-tile">
        <img title="{{dish.name}}" class="tile-image" src="../../../uploads/{{dish.path}}"/>
        <div class="overlay">
          <div class="image-overlay">
            <div>{{dish.location}}</div>
            <div>{{dish.name}}</div>
          </div>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div *ngIf="dishes == undefined && errorMsg == ''">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

