<div>

  <div> 
      <hr size="1" color="grey">
    <button mat-raised-button="" color="warn" (click)="showAdd()" *ngIf="!adding">Add</button>
    <button mat-raised-button="" color="warn" (click)="showAdd()" *ngIf="adding">Cancel</button>
  </div>
  <p style="color: red">{{errorMsg}}</p>
  <form *ngIf="adding">
    <table>
      <tr>
        <td><mat-form-field><input matInput="" [(ngModel)]="location" name="loc" placeholder="location" type="text"> </mat-form-field></td>
      </tr>
      <tr>
        <td><mat-form-field><input matInput="" [(ngModel)]="name" name="name" placeholder="Name" type="text"> </mat-form-field></td>
      </tr>
      <tr>
        <td><input #file type="file" [hidden]="true" accept="image/*" (change)="onFileChanged($event)">
          <button mat-raised-button  #upload (click)="file.click($event)" color="warn">Choose file</button>
          <p *ngIf="selectedFile">{{selectedFile.name}}</p></td>
      </tr>
      <tr>
        <td><button (click)="onSubmit()" mat-raised-button color="warn" >Upload</button></td>
      </tr>
    </table>
  </form>
  <hr size="1" color="grey">
</div>
