<!--The content below is only a placeholder and can be replaced.-->
<html>
<head><title>Eat Me</title></head>
<body class="mat-app-background">
<div style="text-align:center">
  <h1>
    Welcome to our website: {{ title }}!
  </h1>
  <!--<button (click)="checkURL()">CHECK URL</button>-->
</div>
<!--<div id="nav" style="text-align: center">
  <button routerLink="/auth">Sign In </button>
  <button routerLink="/dashboard">Dashboard</button>
  <button routerLink="/list">My List</button>
</div>-->
<router-outlet></router-outlet>
</body>
</html>
