<div>
  <h2>Dish History</h2>
  <p style="color: red">{{errorMsg}}</p>
  <div *ngIf="dishes !== undefined">
    <mat-grid-list cols="6" rowHeight="1:1" gutterSize="3">
      <mat-grid-tile *ngFor="let dish of dishes">
        <div><div class="image-overlay">{{dish.location}}</div>
        <img title="{{dish.location}}" class="tile-image" src="../../../uploads/{{dish.path}}"/></div>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <div *ngIf="dishes == undefined && errorMsg == ''">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div>
</div>
