<p>
  dashboard works!
</p>
<!-- Image Grid displaying all photos in users feed  -->
<mat-grid-list cols="3" rowHeight="1:1" gutterSize="3">
  <mat-grid-tile><img src="assets/food1.png" width="100%" height="auto"/> </mat-grid-tile>
  <mat-grid-tile><img src="/assets/food2.png"  width="100%" height="auto"/></mat-grid-tile>
  <mat-grid-tile><img src="/assets/food3.png"  width="100%" height="auto"/> </mat-grid-tile>
  <mat-grid-tile><img src="/assets/food6.png"  width="100%" height="auto"/> </mat-grid-tile>
  <mat-grid-tile><img src="/assets/food7.png"  width="100%" height="auto"/> </mat-grid-tile>
  <mat-grid-tile><img src="/assets/food2.png"  width="100%" height="auto"/> </mat-grid-tile>
</mat-grid-list>
