<h2>Dashboard</h2>
<div>
  <button (click)="goToArchive()">Archive</button>
  <button (click)="goToFriends()">Friends</button>
  <button (click)="goToMenu()">Menu</button>
  <button (click)="logout()">Log Out</button>
</div>
<div>
  <app-dash-images></app-dash-images>
</div>
<!--
<mat-grid-list cols="3" rowHeight="1:1" gutterSize="3">
  <mat-grid-tile (click)="showDialog()"><img src="assets/food1.png" width="100%" height="auto"/></mat-grid-tile>
  <mat-grid-tile><img src="/assets/food2.png"  width="100%" height="auto"/></mat-grid-tile>
  <mat-grid-tile><img src="/assets/food3.png"  width="100%" height="auto"/> </mat-grid-tile>
  <mat-grid-tile><img src="/assets/food6.png"  width="100%" height="auto"/> </mat-grid-tile>
  <mat-grid-tile><img src="/assets/food7.png"  width="100%" height="auto"/> </mat-grid-tile>
  <mat-grid-tile><img src="/assets/food2.png"  width="100%" height="auto"/> </mat-grid-tile>
</mat-grid-list>
-->
