/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

#nav {
    text-align: center; 
    position: center; 
    padding: 10px;
}

#errorp {
    color: red;
}

#successp {
    color: green;
}
